! Set font name and size
xterm*faceName: Hack
xterm*faceSize: 9 

! Set xterm as login shell
xterm*loginShell: true

! Set font rendering
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! Set copy and pasting
xterm*vt100.translations: #override\n\
Shift Crtl <KeyPress> v: insert-selection(CLIPBOARD)\n\
Shift Ctrl <KeyPress> c: copy-selection(CLIPBOARD)\n\

! Set TERM variable
xterm*termName: xterm-256color

! Stop output to terminal from jumping to bottom
xterm*scrollTtyOutput: false
